@model PenthiumStore.Models.Order

@using (Html.BeginForm())
{

    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>
    <fieldset>
        <legend>Payment</legend>
        <p>
            Choose a Payment Option
        </p>
        <div class="editor-label">
            Credit Card: @Html.RadioButton("payment", "Credit")<br>
            Debit Card: @Html.RadioButton("payment", "Debit")<br>
            COD: @Html.RadioButton("payment", "COD")<br>
        </div>
        <div class="editor-field">
            Address on the card.
            @Html.TextBox("Enter Address on card.");
        </div>
    </fieldset>
    <input type="submit" value="Finalize Order" />
}
