@using PenthiumStore.Models
@model IEnumerable<Category>
@{
    ViewBag.Title = "Index";
}
    @foreach (Category item in Model)
    {
            <div class="CategoryDisplaydiv">
                <table>
                    <tr>
                        
                        <td class="productTable">
                            @if (item.Name == "Mobile Cases")
                            {
                                <a href="@Url.Action("Browse", new { Category = item.Name })"><img src="~/Assets/Images/mobilecases.png" /></a>
                                <b>@item.Name</b>
                            }
                            else if (item.Name == "Head Phones")
                            {
                                <a href="@Url.Action("Browse", new { Category = item.Name })"><img src="~/Assets/Images/headPhones.jpg" /></a>
                                <b>@item.Name</b>
                            }
                            else if (item.Name == "Screen Protectors")
                            {
                                <a href="@Url.Action("Browse", new { Category = item.Name })"><img src="~/Assets/Images/screenProtector.jpg" /></a>
                                <b>@item.Name</b>
                            }
                            else if (item.Name == "Memory Cards")
                            {
                                <a href="@Url.Action("Browse", new { Category = item.Name })"><img src="~/Assets/Images/memoryCard.jpg" /></a>
                                <b>@item.Name</b>
                            }
                            <br />
                        </td>
                    </tr>

                </table>

            </div>
    }
